<?xml version="1.0" encoding="UTF-8"?>
<!--+
    |
    | Copyright (c) 2012, ROE (http://www.roe.ac.uk/)
    | All rights reserved.
    |
    | This program is free software: you can redistribute it and/or modify
    | it under the terms of the GNU General Public License as published by
    | the Free Software Foundation, either version 3 of the License, or
    | (at your option) any later version.
    |
    | This program is distributed in the hope that it will be useful,
    | but WITHOUT ANY WARRANTY; without even the implied warranty of
    | MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    | GNU General Public License for more details.
    |
    | You should have received a copy of the GNU General Public License
    | along with this program.  If not, see <http://www.gnu.org/licenses/>.
    |
    +-->
<configuration>
	<!--+
	    | Default console appender (e.g. tomcat/logs/catalina.out).
	    | http://logback.qos.ch/manual/configuration.html
	    | http://logback.qos.ch/manual/appenders.html
	    | http://logback.qos.ch/manual/layouts.html
	    +-->
        <appender name="FILE" class="ch.qos.logback.core.FileAppender">
            <file>logs/phymatopus-indexer.log</file>
            <append>true</append>
            <encoder>
                <pattern>%date{ISO8601} %-5level [%thread] [%logger{0}] %message %n</pattern>
            </encoder>
        </appender>

        <logger name="jdbc" level="OFF" />
        <logger name="jdbc.sqlonly" level="debug" />

        <root level="DEBUG">
           <appender-ref ref="FILE" />
        </root>
	
	<!--+
	    | Phymatopus logging.
	    +-->
	<logger name="uk.ac.roe.wfau.phymatopus">
		<level value="DEBUG"/>
	</logger>

	<!--+
	    | Spring loggers.
	    +-->
	<logger name="org.springframework">
		<level value="INFO" />
	</logger>
	<logger name="org.springframework.core">
		<level value="INFO" />
	</logger>
	<logger name="org.springframework.beans">
		<level value="INFO" />
	</logger>
	<logger name="org.springframework.context">
		<level value="INFO" />
	</logger>
	<logger name="org.springframework.http">
		<level value="INFO" />
	</logger>
	<logger name="org.springframework.aop">
		<level value="INFO" />
	</logger>
	<logger name="org.springframework.jdbc">
		<level value="INFO" />
	</logger>
	<logger name="org.springframework.orm">
		<level value="INFO" />
	</logger>
	<logger name="org.springframework.web">
		<level value="INFO" />
	</logger>
	<!--+
	<logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping">
		<level value="WARN" />
	</logger>
	    +-->

	<!--+
	    | Spring scheduling.
	    +-->
	<logger name="org.springframework.scheduling">
		<level value="INFO" />
	</logger>

	<!--+
	    | Spring transactions.
        | http://stackoverflow.com/questions/1965454/spring-transaction-show-in-log
	    +-->
	<logger name="org.springframework.transaction">
		<level value="INFO" />
	</logger>
	<logger name="org.springframework.transaction.interceptor">
		<level value="INFO" />
	</logger>

	<!--+
	    | C3PO loggers
	    | Includes strange DEBUG via Exception logging.
	    | http://stackoverflow.com/questions/8403227/weird-error-close-by-client-stack-trace
	    | http://forum.springsource.org/archive/index.php/t-47689.html 
	    | https://forum.hibernate.org/viewtopic.php?f=1&t=982410
	    +-->
	<logger name="com.mchange">
		<level value="INFO" />
	</logger>
	<logger name="com.mchange.v2.async">
		<level value="INFO" />
	</logger>
	<logger name="com.mchange.v2.c3p0.impl.C3P0ImplUtils">
		<level value="WARN" />
	</logger>
	
</configuration>

