<?xml version="1.0" encoding="UTF-8"?>
<!--+
    |
    | Copyright (c) 2012, ROE (http://www.roe.ac.uk/)
    | All rights reserved.
    |
    | This program is free software: you can redistribute it and/or modify
    | it under the terms of the GNU General Public License as published by
    | the Free Software Foundation, either version 3 of the License, or
    | (at your option) any later version.
    |
    | This program is distributed in the hope that it will be useful,
    | but WITHOUT ANY WARRANTY; without even the implied warranty of
    | MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    | GNU General Public License for more details.
    |
    | You should have received a copy of the GNU General Public License
    | along with this program.  If not, see <http://www.gnu.org/licenses/>.
    |
    +-->
<configuration>

	<!--+
	    | Default console appender (e.g. tomcat/logs/catalina.out).
	    | http://logback.qos.ch/manual/configuration.html
	    | http://logback.qos.ch/manual/appenders.html
	    | http://logback.qos.ch/manual/layouts.html
	    +-->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.out</target>
        <encoder>
            <pattern>%date{ISO8601} %-5level [%thread] [%logger{0}] %message %n</pattern>
            <!-- %exception{short} -->
            <!-- %caller{2} -->
        </encoder>
	</appender>

	<!--+
	    | Firethorn logger.
	    +-->
	<logger name="uk.ac.roe.wfau.firethorn">
		<level value="DEBUG"/>
	</logger>
	<!--+
	    | Phymatopus logging.
	    +-->
	<logger name="uk.ac.roe.wfau.phymatopus">
		<level value="DEBUG"/>
	</logger>

	<!--+
	    | Kafka loggers.
	    +-->
	<logger name="org.apache.kafka">
		<level value="INFO" />
	</logger>

	<!--+
	    | Avro loggers.
	    +-->
	<logger name="org.apache.avro">
		<level value="INFO" />
	</logger>

	<!--+
	    | Root logger.
	    +-->
	<root>
		<priority value="${root-level:-INFO}" />
		<appender-ref ref="console" />
	</root>

</configuration>

