<?xml version="1.0" encoding="UTF-8"?>
<!--+
    |
    | Copyright (c) 2018, ROE (http://www.roe.ac.uk/)
    | All rights reserved.
    |
    | This program is free software: you can redistribute it and/or modify
    | it under the terms of the GNU General Public License as published by
    | the Free Software Foundation, either version 3 of the License, or
    | (at your option) any later version.
    |
    | This program is distributed in the hope that it will be useful,
    | but WITHOUT ANY WARRANTY; without even the implied warranty of
    | MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    | GNU General Public License for more details.
    |
    | You should have received a copy of the GNU General Public License
    | along with this program.  If not, see <http://www.gnu.org/licenses/>.
    |
    +-->
<web-app
	version="2.5"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://java.sun.com/xml/ns/javaee
		http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
		>

    <display-name>HTM indexer webapp</display-name>

	<!--+
	    | The root Spring Container shared by all Servlets and Filters
	    +-->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/spring-context.xml</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!--+
	    | The Spring DispatcherServlet.
	    +-->
    <servlet>
        <servlet-name>spring-servlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>WEB-INF/spring/spring-servlet.xml</param-value>
        </init-param>
		<!--+
		    | Disabled during development.
	    <load-on-startup>1</load-on-startup>
	        +-->
    </servlet>

    <!--+
        | Map the spring-servlet to the 'root' path.
        | http://stackoverflow.com/questions/2129876/using-spring-mapping-to-root-in-web-xml-static-resources-arent-found
        +-->
    <servlet-mapping>
        <servlet-name>spring-servlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!--+
        | Logging components.
        | http://gordondickens.com/wordpress/2012/07/03/enterprise-spring-best-practices-part-1-project-config/
 	<servlet>
    	<servlet-name>LogbackStatusMessages</servlet-name>
    	<servlet-class>ch.qos.logback.classic.ViewStatusMessagesServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>LogbackStatusMessages</servlet-name>
    	<url-pattern>/logback</url-pattern>
  	</servlet-mapping>
	<filter>
    	<filter-name>LogbackTeeFilter</filter-name>
    	<filter-class>ch.qos.logback.access.servlet.TeeFilter</filter-class>
  	</filter>
  	<filter-mapping>
    	<filter-name>LogbackTeeFilter</filter-name>
    	<url-pattern>/*</url-pattern>
  	</filter-mapping>
        +-->

	<!--+
	    | Spring transaction filter (moved to a request interceptor in spring-context).
	    | http://blog.smartkey.co.uk/2010/03/open-session-in-view-pattern-spring-jpa/
    <filter>
        <filter-name>spring-filter</filter-name>
        <filter-class>org.springframework.orm.hibernate5.support.OpenSessionInViewFilter</filter-class>
        <init-param>
            <param-name>sessionFactoryBeanName</param-name>
            <param-value>FireThornHibernateSessionFactory</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>spring-filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
	    +-->

	<!--+
	    |
    <filter>
        <filter-name>GNU-TerryPratchett</filter-name>
        <filter-class>uk.ac.roe.wfau.firethorn.webapp.pratchett.GnuTerryPratchett</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>GNU-TerryPratchett</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
	    +-->

	<!--+
	    |
    <filter>
        <filter-name>ConnectionConfig</filter-name>
        <filter-class>uk.ac.roe.wfau.firethorn.webapp.catalina.ConnectionConfigFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ConnectionConfig</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
	    +-->

</web-app>

